{{>autogen}}

{{> imports}}

export interface {{typeName}} {
    {{#fields}}
    {{name}}{{#isOptional}}?{{/isOptional}}: {{typescriptType}}
    {{/fields}}
}

export class {{companionName}} {
    {{> struct_read}}
    {{> struct_write}}
}