static write(protocol: TProtocol, value0: {{typeName}}): void {
    protocol.writeStructBegin('{{typeName}}');

    switch (value0.kind) {
        {{#fields}}
        case "{{name}}":
            if (value0.{{name}} !== null && value0.{{name}} !== undefined) {
                const {{variableName}}: {{typescriptType}} = value0.{{name}};
                protocol.writeFieldBegin('{{name}}', {{thriftType}}, {{index}});
                {{{writeField}}}
                protocol.writeFieldEnd();
            }
            break;
        {{/fields}}
    }

    protocol.writeFieldStop();
    protocol.writeStructEnd();
}
